@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.main-section{
  display: flex;
}
.text-btn{
  margin:60px;
  margin-top:150px;
  line-height: 2;
}

.slogan{
  color: #98cfff ;
  font-family: 'Montserrat', sans-serif;
  font-size: 27px;
}
span{
  color:rgba(255, 255, 255, 0.836);

}
.main-img img{
  margin-right:10px;
}
.enlarge-image {
  transition: transform 1s;
}
.enlarge-image:hover {
  transform: scale(0.9); /* Agrandir l'image de 20% au survol */
}
