@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
.main-section {
  display: flex;
  padding-top: 70px;
}
.text-btn {
  margin: 60px;
  margin-top: 150px;
  line-height: 1.5;
}

.slogan {
  padding-top: 10px;
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span {
  color: rgb(255, 255, 255);
}
.main-img img {
  padding-top: 50px;
  margin-right: 10px;
}
.enlarge-image {
  transition: transform 1s;
}
.enlarge-image:hover {
  transform: scale(0.9); /* Agrandir l'image de 20% au survol */
}
