.search-cht {
    background-image: url('../assets/search.png');
    background-position: left center;
    background-size: 20px;
    text-align: center;
    border-radius: 5px !important;
    margin: 5rem .3rem 0 .3rem !important;
    padding: .3rem !important;
    background-repeat: no-repeat;
    background-color: none;
}