.settings-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: aliceblue;
}

.setting-box {
  padding: 2vh 2vw;
  overflow: hidden;
  background-color: rgba(126, 123, 123, 0.2);
  width: 60vw;
  margin: 5px 0 5px 5vw;
}
.setting-checkbox {
  padding: 2vh 2vw;
<<<<<<< HEAD
  margin: 5px 0 5px 3vw;
=======
  margin: 5px 0 5px 5vw;
>>>>>>> 22729ff27e709bd503b144d9878c537fc132efc2
  background-color: rgba(126, 123, 123, 0.2);
  display: flex;
  flex-direction: column;
}
.setting-checkbox .option {
<<<<<<< HEAD
  margin-bottom: 20px;
=======
  margin-bottom: 10px;
>>>>>>> 22729ff27e709bd503b144d9878c537fc132efc2
}

.option {
  float: left;
}
.setting-box .values {
  padding: 22px;
  float: right;
}
.values input {
  margin-right: 10px;
}
