.side-bar-page {
  width: 18vw;
  background-color: #1a2e62;
  border-right: 2px solid #aeefeb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  padding: 1rem 2rem 1rem 1rem;
  margin-right: 2.5rem;
  font-size: 13px;
  display: block;
  text-decoration: none;
  color: #ffff;
}
.nav-item.active {
  color: black;
  background-color: #374957;
  border-radius: 0 25px 25px 0;
}

