.side-bar-page {
  width: 18vw;
  background-color: #1a2e62;
  border-right: 2px solid #aeefeb;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.nav-item {
  padding: 1rem 2rem 1rem 1rem;
  margin-right: 2.5rem;
  font-size: 13px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  transition: background-color 0.1s;

}

.nav-item:active {
  background-color: #333333;
}

.nav-item.active {
  color: black;
  background-color: #374957;
  border-radius: 0 25px 25px 0;
}
