.side-bar-page {
  width: 320px;
  background-color: #1a2e62;
  height: 100vh;
}

.nav-item {
  padding: 15px 5px 15px 25px;
  font-size: 13px;
  display: block;
  text-decoration: none;
  color: #ffff;
}
.nav-item.active {
  color: black;
  background-color: #1a2e62;
  border-radius: 0 25px 25px 0;
}
